:root {
  --theme-yellow: #f6cd25;
  --theme-red: #dc163b;
}

body {
  font-family: 'Poppins';
  margin: 0;
  background: #eee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,
h2,
h3,
h4 {
  /* font-family: 'Geo'; */
  font-weight: bold;
  margin: 0;
  font-size: 1.8em;
}

.geo {
  font-family: 'Geo';
}

.container {
  max-width: 1260px;
  margin: 40px auto;
  padding: 10px;
}
footer {
  background: #ddd;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}


ul {
  list-style: none;
  padding: 0;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
div {
  margin-top: 10px;
}
button {
  border: 4px solid black;
  background: antiquewhite;
  margin: 0 6px;
}
button:hover {
  border-color: goldenrod;
  color: goldenrod;
}
.pay {
  display: block;
  right: 10px;
  bottom: 10px;
  align-self: flex-end;
}
.pay-container {
  position: fixed;
  bottom: 0px;
  right: 10px;
}
@media (min-width: 500px) {
  ul {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 800px) {
  ul {
    grid-template-columns: repeat(3, auto);
  }
}
li {
  padding: 10px 20px;
}
li:hover h4 {
  color: goldenrod;
}
li h4 {
  /* text-align: center; */
  margin: 10px 0;
}